<% layout('./layout/boilerplate') %>

<section>
  <h1>Hi, <%=currentUser.username%></h1>
  <h1><%=businesses.length%> Business(s) found!</h1>
  <ol>
    <% businesses.forEach((b, i)=> {%>
    <li>
      <a href="/dashboard/<%= b._id %>"> <%=b.Bname%> : <%=b.Result%> KG </a>
    </li>
    <%})%>
  </ol>
</section>
